.about-container2{
    display:flex;
    flex-direction: column;
    width: 55%; 
    border-radius: 50px;
    background: white;
    margin-right: 5%;
    margin-top: 100px;
    float: left;
    margin-left: 450px;
    margin-bottom: 100px;
}
#category-select{
    font-size: 20px;
    margin-bottom: 100px;
    width: 200px;
    text-align: center;
}
.spending-format{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    align-items: center;
    width: 100%;
    padding-right: 25px;
}
.spending-option{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    align-items: center;
    gap: 10px;
}
.header1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
    padding-bottom: 10px;
}
@media screen and (max-width: 550px) and (min-width: 300px) {

}
