.container{
    display: flex;
    flex-direction: column;
    width: 80%; 
    border-radius: 50px;
    margin: auto;
    margin-top: 150px;
    background: white;
    padding-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin-top: 30px;
}
.text{
    color: purple;
    font-size: 45px;
    font-weight: 700;
}
.underline{
    width: 60px;
    height: 6px;
    background: purple;
    border-radius: 9px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: #eaeaea;
    border-radius: 6px;
}
.input img{
    margin: 0 30px;
    height: 20px;
    width: 20px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}
.forgot-password{
    text-align: center;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}
.forgot-password span{
    color: purple;
    cursor: pointer;
}
.submit-container {
    width: 100%; 
    display: flex;
    justify-content: center; 
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: white;
    background:purple;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    margin: 0 auto;
}
@media screen and (max-width: 650px) and (min-width: 300px) {
    body{
        height: fit-content;
    }
    .container{
        display: flex;
        flex-direction: column;
        width: 80%; 
        border-radius: 50px;
        margin: auto;
        margin-top: 100px;
        background: white;
        padding-bottom: 30px;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 9px;
        margin-top: 30px;
    }
    .input{
        display: flex;
        align-items: center;
        margin: auto;
        width: 200px;
        height: 60px;
        background-color: #eaeaea;
        border-radius: 6px;
    }
    .input img{
        margin: 0 25px;
        height: 15px;
        width: 15px;
    }
    .input input{
        height: 50px;
        width: 200px;
        background: transparent;
        border: none;
        outline: none;
        color: #797979;
        font-size: 19px;
    }
}

