.bill-option{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    align-items: center;
    width: 100%;
}
#category-select{
    font-size: 20px;
    margin-bottom: 100px;
}
hr{
    color: black;
    height: 2;
    width: 100%;
}
.bill-format{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    align-items: center;
    width: 100%;

}
.about-container1{
    display:flex;
    flex-direction: column;
    width: 50%; 
    border-radius: 50px;
    margin: auto;
    margin-top: 20px;
    background: white;
}
